/* General Styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Navigation Bar */
  #navbar {
    background-color: #365474;
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    /* z-index: 1000; */
  }
  
  #navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  #navbar li {
    margin: 0 15px;
  }
  
  #navbar a {
    font-size: 1rem;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  #navbar a:hover {
    background-color: #365f8a;
  }
  
  /* Header Section */
  #header {
    text-align: center;
    background-color: #537395;
    color: white;
    padding: 40px 20px;
  }
  
  .profile-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
   
  /* Section Styling */
  .section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: rgb(198, 189, 189);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .section:hover {
    background-color: aliceblue;
  }
  
  .section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  /* Experiences Section */
  #experiences .experience-item {
    margin-bottom: 15px;
  }
  
  #experiences h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  #experiences p {
    margin: 5px 0;
    font-size: 1rem;
  }
  
  /* Education Section */
  #education .education-item {
    margin-bottom: 15px;
  }
  
  #education h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  #education p {
    margin: 5px 0;
    font-size: 1rem;
  }
  
  /* Skills Section */
  .skills-list {
    list-style-type: none;
    padding: 0;
  }
  
  .skills-list li {
    font-size: 1rem;
    padding: 5px 0;
  }
  
  /* Interests Section */
  #interests p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
  }
  
  /* Footer Section */
  #footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
  }